.main-content {
	margin-top: 54px;
}
.ui.menu {
	border-radius: 0px;
}

.ui.menu .item > i.icon {
	margin-right: 0px;
}

.create {
	display: none;
}

.create .field {
	margin-top: 68px !important; /* fix in near future */
}